@model GarbageCollector.Models.GoogleMap
@{
    ViewData["Title"] = "YoutubeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> Google Map</h2>
    @*@foreach (var item in Model.items)
    {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSIJHs0vYekUAsWVVivPkJchsE4eqQEhs&callback=myMap"></script>

    }*@