@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Waste management company</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://thumbs.dreamstime.com/b/waste-management-concept-segregation-separation-garbage-cans-sorting-recycling-disposal-refuse-bin-vector-illustration-colored-92930109.jpg" class="d-block w-100" alt="waste">
        </div>

    </div>
    <div class="container text-center">
        <h3>Welcome to local waste management service</h3>
        <p>
            <em>
                As a proud member of the Waste Connection family, we are locally operated in Lakewood.
                The wide range of waste and recycling service are sure to help you get the job done. Our team of professional drivers
                consistently exceed in safety and service
                throughout the day while our customer service representatives take professionalism to the next level.
            </em>
        </p>
        <br>
    </div>
    
</div>
