@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Waste management company</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://thumbs.dreamstime.com/b/waste-management-concept-segregation-separation-garbage-cans-sorting-recycling-disposal-refuse-bin-vector-illustration-colored-92930109.jpg" class="d-block w-100" alt="waste">
        </div>

    </div>
    <div class="container text-center">
        <h3>Welcome to local waste management service</h3>
        <p>
            <em>
                As a proud member of the Waste Connection family, we are locally operated in Lakewood.
                The wide range of waste and recycling service are sure to help you get the job done. Our team of professional drivers
                consistently exceed in safety and service
                throughout the day while our customer service representatives take professionalism to the next level.
            </em>
        </p>
        <br>
    </div>

</div>
<h2> Google Map</h2>
<fieldset>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:400px;width:100%;align-content:center"></div>
    <script>
        function myMap() {
            var myCenter = new google.maps.LatLng(20.296100, 85.824500);
            var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSIJHs0vYekUAsWVVivPkJchsE4eqQEhs&callback=myMap"></script>
</fieldset>
<footer>
    <p style="background-color: dimgrey; font-weight: bold; color:blue; text-align: center; font-style: oblique">© @DateTime.Now.ToLocalTime()</p> @*Add Date Time*@
</footer>
@*<div>@Html.ActionLink("customers","Index","Customers")<br/>
    @Html.ActionLink("employees", "Index", "Employees")</div>*@
