@model GarbageCollector.Models.Customer

@{ ViewData["Title"] = "Edit"; }


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group">
                <label asp-for="IsPickupConfirmed" class="control-label"></label>
                <input type="checkbox" data-val="true" data-val-required="The IsPickupConfirmed field is required." id="IsPickupConfirmed" name="IsPickupConfirmed" value="true">
                <input name="IsPickupConfirmed" type="hidden" value="false">
                <span asp-validation-for="IsPickupConfirmed" class="text-danger"></span>
            </div>
            <h5> Please proceed to charging this customer</h5>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



